<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SoftUni Blog</title>
    <link type="text/css" rel="stylesheet" href="../styles/style.css">
    <script src="../scripts/jquery-3.3.1.js"></script>
    <script src="../scripts/bootstrap.js"></script>
</head>
<body>
<header>
    <div class="navbar navbar-default navbar-fixed-top text-uppercase">
        <div class="container">
            <div class="navbar-header">
                <a href="../index.html" class="navbar-brand">SoftUni Blog</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="register.html">Register</a></li>
                    <li><a href="login.html">Login</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

<main>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                <article>
                    <header>
                        <h2>Why is the sky blue?</h2>
                    </header>

                    <img src="../pictures/sky1.jpg" height="200" width="300"/><br/>
                    <p>
                        The colour blue is often associated with sadness – yet a cloudless blue sky definitely has the power to cheer you up.
                    </p>
                    <p>
                        Skies can project an astounding range of beautiful colours across the year, but blue is its default setting. But have you ever wondered why the sky is blue? We hope you’ve got your thinking caps on, because the science of blue skies takes a little brain power to understand.
                    </p>
                    <br/>
                    <img src="../pictures/sky2.jpg" height="200" width="300"/>
                    <br/>
                    <p>
                        Vision is determined and aided by light from the sun. Light from the sun is white. But this white light contains all the colours of the rainbow, and the colours travel at different frequencies.
                    </p>
                    <p>
                        The sky is blue because oxygen and nitrogen molecules in the Earth’s atmosphere scatter blue waves (short wavelength) from the sun’s light more than they scatter red ones (long wavelength). However, when we look at the sky during sunset, we see red, orange and purple (a mix of red and blue). That’s because the blue light has been scattered out and away from the line of sight.
                    </p>
                    <p>
                        The atmosphere can scatter light because the electromagnetic field of light waves induces electric dipole moments in gas molecules (yes it’s complicated, just go with it).
                    </p>
                    <br/>

                    <img src="../pictures/sky3.jpg" height="225" width="300"/>
                    <br/>
                    <p>
                        Science bods may ask why the sky is not violet, seeing as this colour has the shortest wavelength in the rainbow. Being on the outside of the colour spectrum, violet gets absorbed into the high atmosphere, and does not constantly get emitted in light by the sun. Also our eyes are much less receptive to seeing violet than blue. Having said that, we can definitely see violets and indigos, as proved when an actual rainbow appears.
                    </p>
                    <p>
                        So the final part of the puzzle is the way our eyes analyse colour. We have cones in our retinas that are receptive to greens, blues and reds. When analysing the colours in the sky, our blue receptors are stimulated more than the other two, which are stimulated equally. The net result of this, and the scattering of blue, is that our eyes perceive a singular blue sky. It’s theorised that we have evolved to isolate colours this way, and view them more crisply, as a survival advantage.
                    </p>
                    <br/>

                    <small class="author">Some Author</small>

                    <footer>
                        <div class="pull-right">
                            <a class="btn btn-default btn-xs" href="../index.html">back &raquo;</a>
                        </div>
                    </footer>
                </article>
            </div>
        </div>
    </div>
</main>

<footer>
    <div class="container modal-footer">
        <p>&copy; 2018 - Software University Foundation</p>
    </div>
</footer>
</body>
</html>